DATABASE_URL="postgresql://postgres:sfFLGHfnfntsLUnsUqUtxGzTcncfExJM@centerbeam.proxy.rlwy.net:43705/railway"
JWT_SECRET="cambia-esto-por-un-secreto-largo"

# NextAuth/Auth.js
AUTH_SECRET="cambia-esto-por-un-secreto-largo"
NEXTAUTH_SECRET="cambia-esto-por-un-secreto-largo"
# Local: http://localhost:3000
# Producción (Railway): https://gestiondetareas-production.up.railway.app
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (NextAuth)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# n8n Automation
N8N_API_SECRET="QWERTy1234567890"
